/* styles.css */
:root{
  --primary-color: rgba(18, 57, 161, 0.52);
  --secondary-color: rgb(252, 56, 7);
  --background-color: white;
  --font-color: black;

}

body{
  font-family: Montserrat;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
    
  height:10vh;

  background-color: var(--primary-color);
  color: white;
  font-size: 1.5rem;
}

#content{
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}

.sidebar {
  height: 90vh;
  width: 20vw;
  font-size: 1.1rem;
}

.nav__list{
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 0.5rem;
}

.nav__header {
  margin: 0.5rem 1rem;
}

.nav__icon{
  width: 20px;
  height: 20px;
}

.nav__button{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: none;
  text-align: start;
  padding: 0.25rem 1.25rem;
  background-color: inherit;
  width: 100%;
}

.nav__button:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.main{
  width: 80vw;
  font-size:1.25rem;
  margin: 0 15rem;
}

.main__header{
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.main__icon {
  width: 25px;
  height: 25px;
}

.task{
  gap: 1rem;
  padding: 0.8rem 0;
  margin: 0 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.384);
  list-style-type: none;
}


.task__top{
  display: flex;
}

.task__data {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-size: 1.25rem;
}

.task__bottom{
  display: block;
  font-size: 1rem;
  color: var(--font-color);
  opacity: 0.6;
  padding-right: 8ch;
  padding-left: 2.2rem;
}


.main__add-task-button {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  gap: 1rem;
  width: 100%;
}

.main__add-task-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.main__add-task  {
  font-size: 2rem;
  font-weight: bold;
}


.task__checkbox {
  display: inline;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.task__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.task__checkbox input:focus-visible + .task__checkmark {
  outline: 2px solid black;
  outline-offset: 1cappx;

}

/* Create a custom checkbox */
.task__checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 3px solid rgba(0, 26, 255, 0.6);
  border-radius: 50%;
  background-color: #eee; 
}


/* When the checkbox is checked, add a blue background */
.task__checkbox:hover .task__checkmark,
.task__checkbox input:checked ~ .task__checkmark {
  background-color:rgba(0, 26, 255, 0.7);
}

/* Create the checkmark/indicator (hidden when not checked) */
.task__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.task__checkbox:hover .task__checkmark:after,
.task__checkbox input:checked ~ .task__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.task__checkbox .task__checkmark:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




